{% extends 'base.html.twig' %}

{% block title %}Hello PhonebookController!{% endblock %}

{% block body %}
    {% if subdivisions %}
        <ul>
            <li><a href="{{ path('list') }}" target="_blank">all</a></li>
            {% for subdivision in subdivisions %}
                <li><a href="{{ path('listBy', {'id': subdivision.id}) }}" target="_blank">{{ subdivision.name }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <h1>Подразделений не найдено</h1>
    {% endif %}
    <a href="{{ path('easyadmin') }}" target="_blank">admin</a>
{% endblock %}
